@font-face {
  font-family: 'Omega+Sans+Regular';
  src: url('Omega+Sans+Regular.eot');
  src: url('Omega+Sans+Regular.eot?#iefix') format('embedded-opentype'),
       url('Omega+Sans+Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OmegaSans-Regular';
  src: url('OmegaSans-Regular.svg#OmegaSans-Regular') format('svg'),
       url('OmegaSans-Regular.ttf') format('truetype'),
       url('OmegaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

